---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import PresentationSection from "../components/PresentationSection.astro";
---

<Layout title="Bienvenue sur le site du Club débat !">
  <HeroSection />
  <PresentationSection
    id="present"
    title="Présentation">
      Chaque semaine, nous nous retrouvons avec enthousiasme pour défendre nos points de vue, encourager le dialogue et approfondir notre compréhension mutuelle.
      Notre club est bien plus qu'un simple lieu de discussion; c'est un espace où les voix de chacun sont écoutées et valorisées,
      où l'apprentissage se fait dans la diversité et la camaraderie.
  </PresentationSection>
  <PresentationSection
    id="register"
    title="Pour vous inscrire">
      Rejoignez notre club de débat lycéen et transformez vos idées en arguments percutants, vos doutes en convictions, et vos discussions en véritables
      aventures intellectuelles ! 🎉 Inscrivez-vous <a href='https://forms.gle/hxi5E1E8KZSfSYYf7'>ici</a>, ou contactez nous sur
      instagram : <a href='https://www.instagram.com/club_debat_lll'>club_debat_lll</a>
  </PresentationSection>
    <PresentationSection id="nums" title="Les chiffres">Nb inscrits: 8</PresentationSection>
  <PresentationSection
    id="tips"
    title="Quelques tips">
      Manger bien avant de venir, utiliser son cerveau ça creuse 🙃
      <ul>
          <li>Neil Armstrong</li>
          <li><a href="https://fr.wikidebates.org">Des exemples de débat</a></li>
          <li><a href="https://ffdebat.org/">La Fédération Francophone de Débat</a></li>
      </ul>
  </PresentationSection>
</Layout>

<style lang="scss">
  section {
    min-height: 100vh;
  }
</style>

<style lang="scss" is:global>
    a {
    color: #054976;
    transition: color 500ms ease-in;
  }
  a:hover {
    color: #D36500;
  }
</style>
