---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<h1>Bienvenue sur le site officiel du Club débat de Lachenal !</h1>
</Layout>

<style lang="scss">
	
</style>
