---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import PresentationSection from "../components/PresentationSection.astro";
---

<Layout title="Bienvenue sur le site du Club débat !">
    <HeroSection/>
    <PresentationSection
            id="present"
            title="Présentation">
        Chaque semaine, nous nous retrouvons avec enthousiasme pour défendre nos points de vue, encourager le dialogue et approfondir notre compréhension mutuelle.
        Notre club est bien plus qu'un simple lieu de discussion; c'est un espace où les voix de chacun sont écoutées et valorisées,
        où l'apprentissage se fait dans la diversité et la camaraderie.
    </PresentationSection>
    <PresentationSection
            id="register"
            title="Pour vous inscrire">
        Rejoignez notre club de débat lycéen et transformez vos idées en arguments percutants, vos doutes en convictions, et vos discussions en véritables
        aventures intellectuelles ! 🎉 <a onclick="openFormPopup('https://docs.google.com/forms/d/e/1FAIpQLSfwyLdrwtY4iENq6cHDpvNB7KzVf4STO5v7ZZVU3UEOSmU6mw/viewform?embedded=true')" class="cursor-pointer">Inscrivez-vous ici</a>, ou contactez nous sur
        instagram : <a href='https://www.instagram.com/club_debat_lll' class="cursor-pointer!">club_debat_lll</a>
    </PresentationSection>//TODO: boite a idées
    <PresentationSection id="nums" title="Les chiffres">Nb inscrits: 8</PresentationSection>
    <PresentationSection
            id="tips"
            title="Quelques tips">
        Manger bien avant de venir, utiliser son cerveau ça creuse 🙃
        <ul>
            <li>Neil Armstrong</li>
            <li><a href="https://fr.wikidebates.org">Des exemples de débat</a></li>
            <li><a href="https://ffdebat.org/">La Fédération Francophone de Débat</a></li>
        </ul>
    </PresentationSection>
</Layout>

<style lang="scss">
    section {
        min-height: 100vh;
    }
</style>

<style lang="scss" is:global>
    a {
        color: #054976;
        transition: color 500ms ease-in;
    }

    a:hover {
        color: #D36500;
    }
</style>


<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);
</script>

<div id='googleFormPopup' class="hidden fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-[9999] bg-white p-[20px] rounded-2xl border border-[#ccc]" style='box-shadow: 0 2px 5px rgba(0,0,0,0.2)'>
    <iframe id="from" src="" width="840" height="613">Chargement…</iframe>
    <button class='bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4' onclick='closeFormPopup()'>Fermer</button>
</div>

<script defer>
    function openFormPopup(form) {
        document.getElementById("from").src = form;
        document.getElementById("googleFormPopup").style.display = "block";
    }

    function closeFormPopup() {
        document.getElementById("googleFormPopup").style.display = "none"
    }
</script>