<footer>
    <div class="grid-cols-1 grid-rows-1">
        <h1>Footer</h1>
    </div>
    <div class="grid-cols-1 grid-rows-1">
        <h1>Footer</h1>
    </div>
    <div class="grid-cols-1 grid-rows-1">
        <h1>Footer</h1>
    </div>
</footer>

<style lang="scss">
footer {
    width: 100%;
    height: 50vh;
    background-color: #000000;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    color: white;
    text-align: center;
}
</style>