<footer>
    <div class="grid-cols-1 grid-rows-1">
        <a href="https://www.lycee-louis-lachenal.fr">
            <img src="lachenal.png" alt="Lycée Lachenal"/>
        </a>
        <a href="https://auvergnerhonealpes.fr">
            <img src="region.png" alt="Région Auvergne-Rhône-Alpes"/>
        </a>
        <a href="https://ac-grenoble.fr">
            <img src="academie-grenoble.png" alt="Académie de Grenoble"/>
        </a>
        <a href="https://www.education.gouv.fr">
            <img src="republique.png" alt="République Française"/>
        </a>
    </div>
    <div class="grid-cols-1 grid-rows-1">
        <h1>Footer</h1>
    </div>
    <div class="grid-cols-1 grid-rows-1">
        <h1>Footer</h1>
    </div>
</footer>

<style lang="scss">
    footer {
        width: 100%;
        height: 50vh;
        background-color: #000000;
        padding: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        color: white;
        text-align: center;

        div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }
</style>